@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">¡Lava tu carro!</h1>
    <img src="~/images/Lavado.jpg" alt="Icono de países" width="500" height="500">
</div>
